  <div @myInsertRemoveTrigger *ngIf="isShow" 
  (@myInsertRemoveTrigger.start)="onAnimationEvent($event)" 
  (@myInsertRemoveTrigger.done)="onAnimationEvent($event)" class="container login-page" >
    <div  class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
        <form #authForm="ngForm">
          <div class="card card-login">
            <div class="card-header card-header-info text-center">
              <h4 class="card-title">Log in</h4>
              <div class="social-line">
                <a class="btn btn-just-icon btn-link btn-white" href="">
                  <i class="fa fa-qq"></i>
                </a>
                <a class="btn btn-just-icon btn-link btn-white" href="">
                  <i class="fa fa-weixin"></i>
                </a>
                <a class="btn btn-just-icon btn-link btn-white" href="">
                  <i class="fa fa-weibo"></i>
                </a>
              </div>
            </div>
            <div class="card-body">
              <p class="card-description text-center">Or Be Classical</p>
              <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">face</i>
                      </span>
                    </div>
                    <div class="form-group" style="width: 82%">
                      <input type="text" class="form-control" id="user-name" placeholder="Username or UserID...*" [(ngModel)]="userName" name="username"
                        #name="ngModel" required>
                      <div *ngIf="name.touched">
                        <mat-error for="user-name" *ngIf="name.control.hasError('required') && name.touched" class="validation-message" style="position: fixed;">Userame
                          is
                          required</mat-error>
                        <!-- <label *ngIf="" class="alert alert-danger validation-message">A user
                           with this name already exists.</label> -->
                      </div>
                    </div>
                  </div>
                  
              </span>
              <span class="bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">email</i>
                    </span>
                  </div>
                  <div class="form-group" style="width: 82%">
                    <input type="email" class="form-control" id="user-email" placeholder="Enter your email*" [(ngModel)]="userEmail" name="email" #email="ngModel" required>
                    <div *ngIf="email.touched">
                      <mat-error *ngIf="email.control.hasError('required') && email.touched" class="validation-message" style="position: fixed;">Email
                        is
                        required</mat-error>
                      <label *ngIf="" class="alert alert-danger validation-message">A user
                        with this email already exists.</label>
                  </div>
                  
                  </div>
                </div>
              </span>
              <span class="bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input type="password" name="password" class="form-control" id="user-password" placeholder="Password...">
                  <div *ngIf="">
                    <label *ngIf="" class="alert alert-danger validation-message">Password
                      is
                      required</label>
                  </div>
                </div>
              </span>
            </div>
            <div class="card-footer justify-content-center">
              <a class="btn btn-rose btn-link btn-lg" (click)="login()"  routerLink="/dashboard">Lets Go</a>
            </div>
          </div>
  
        </form>
      </div>
    </div>
  </div>
